@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="encuesta">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>#JuntxsSomosCEP</h2>
                <p>
                    <b>Desde IMPULSO-PRESIDENCIA CEP estamos revolucionando PSICO.</b> Además de construir una herramienta solidaria para todxs lxs estudiantes, que garantice el acceso y la permanencia a la universidad pública, nos renovamos día a día y hoy generamos una forma más eficiente y accesible de solicitar las becas de apuntes y fotocopiadora
                    <b>¡AHORA DIGITALIZADAS!</b>
                    <br>
                    Las becas en materiales de apuntes y fotocopiadora tienen una condición irrestricta, es decir, serán otorgadas a todxs lxs estudiantes que las soliciten a lo largo de todo el año. Sin embargo, para poder garantizar realmente que lxs estudiantes que necesiten la beca de apuntes la obtengan, es necesario que cada unx de nosotrxs solicite <b>LA BECA A CONCIENCIA SEGÚN LA NECESIDAD ECONÓMICA.</b> Por eso establecemos un sistema donde cada unx elige solicitar el 25%, 50%, 75% o 100% del material becado (de manera gratuita) en los espacios de apuntes, mientras que estas becas pagaran al precio de costo los materiales en fotocopiadora.
                    A partir del 6 de abril se otorgarán las becas a quienes hayan completado el formulario de beca hasta el día 5 de abril.  Luego de esa fecha se otorgarán las becas de apuntes los días lunes. <br>
                    <b>IMPORTANTE:</b><br> Para retirar la beca es requisito obligatorio acercarse a los espacios del centro de estudiantes (Independencia, Hipolito Yrigoyen, San Isidro, Avellaneda) con DNI.
                </p>
                <h4 class="service-heading">Para solictar la beca hace click acá</h4>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="https://goo.gl/forms/6K7KOyymxHhF7ouX2"><i class="fa fa-book fa-2x"></i></a>
            </div>
        </div>
    </div>
</div>